@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
/* General */
* {
  margin: 0;
  padding: 0;
}
span {
  font-weight: bold;
}
img {
  width: 100%;
  border-radius: 0.625rem;
}
a {
  text-decoration: none;
  color: #525252;
}
/* main */
.mainContainer {
  margin: 2.5rem 0.75rem;
}
.mainContainer h1 {
  font-size: 1.5rem;
}
.subtitle {
  display: flex;
  align-items: flex-start;
  margin-top: 0.3125rem;
}
.sub {
  height: 5.5rem;
  width: 20rem;
  left: 2.25rem;
  top: 4.5625rem;
}

.sub {
  font-family: Montserrat, arial;
  font-size: 0.75rem;
  font-style: italic;
}

.dots {
  width: 0.9375rem;
  margin-top: 0.3125rem;
  margin-right: 0.75rem;
}
.yields {
  display: flex;
  margin: 24px 4px;
}
.yields i {
  color: orange;
  font-size: 1.25rem;
}
.text {
  margin-left: 0.3125rem;
}
.yields h5 {
  font-family: Montserrat, arial;
  line-height: 0.625rem;
  color: #bdbdbd;
  text-transform: uppercase;
  margin-bottom: 0.125rem;
}
.yields p {
  font-family: Montserrat, arial;
  font-size: 0.8125rem;
  color: #f2994a;
}

.time__container {
  display: flex;
}
.time {
  display: flex;
  justify-content: space-between;
}
.uil-clock {
  margin: auto;
}
.time_text {
  font-family: Montserrat;
  font-size: 0.5625rem;
  font-weight: 700;
  line-height: 0.625rem;
  letter-spacing: 0em;
  text-align: left;
  color: #bdbdbd;
  text-transform: uppercase;
}
.text p {
  font-family: Montserrat;
  font-size: 0.625rem;
  font-weight: 500;
}
/* RECETARIO */
.recetario {
  margin-top: 1.125rem;
}
.cake_name {
  font-family: Playfair Display;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  margin: 1.25rem 0;
}
.ingredients {
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5625rem;
}
.checkbox {
  margin-right: 0.5rem;
  width: 1.3125rem;
  height: 1.3125rem;
}
/* ----Instrucciones------- */
.instruction {
  margin: 1.875rem 0rem;
  font-family: Playfair Display;
  font-size: 1.5rem;
}
.instruction__order {
  margin: 0rem 0.9375rem 0rem 1.5625rem;
}
.instruction__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.625rem;
}

ol {
  list-style-type: none;
  counter-reset: lista-personalizada;
}

ol li {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.875rem;
  padding: 0.25rem 0 0.625rem 3.125rem;
}

ol li:before {
  font-family: "'Playfair Display'";
  content: counter(lista-personalizada);
  counter-increment: lista-personalizada;
  position: absolute;
  left: 0;
  border-radius: 0.3125rem;
  font-size: 1.5625rem;
  text-align: center;
  padding: 0.6875rem 0.625rem 0rem 0.625rem;
  background: #f2994a;
  color: white;
  height: 2.0625rem;
  width: 1.25rem;
}
.source {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #bdbdbd;
  margin-top: 1.875rem;
}
footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: center;
  color: #828282;
  margin: 1.25rem 0.875rem;
}
/* -----------MEDIA QUERIES----------- */
@media (min-width: 43.75rem) {
  .recetario {
    width: 70%;
  }
  .mainContainer h1 {
    font-size: 40px;
    transition: 0.2s ease all;
  }
  .sub {
    width: 31.25rem;
    height: 5rem;
  }
  .aside {
    box-shadow: 0rem 0rem 1.25rem rgb(0 0 0 / 10%);
    border-radius: 0.75rem;
    width: 10rem;
    height: 15rem;
    float: right;
    margin-top: 2rem;
  }
  .time {
    flex-direction: column;
    align-items: center;
    height: 55%;
  }

  .yields {
    justify-content: center;
  }
  .uil-clock {
    margin: auto;
    font-size: 20px;
  }
}
@media (min-width: 56.25rem) {
  body {
    width: 56.25rem;
    margin: 0 auto;
  }
  img {
    max-width: 56.25rem;
  }
}
